.dark {
    background-color: #0D1117;
}

.page {
    text-align: center;
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial", "Helvetica", "sans-serif";
}

.genshin-logo {
    height: 50px;
}

.page-title {
    text-transform: uppercase;
    margin: 20px auto 20px;
}

.day-row {
    color: #5EB3BC;   
}

.col-md-4 {
    padding: 0 2px;
}

.section {
    padding: 0 1px;
    background-color: rgba(255,255,255, 0.2);
}

.weapon-row .section {
    padding-top: 40px;
}

.floating-title {
    position: absolute;
}

h3 {
    margin: 0;
}
