.dark {
    background-color: #0D1117;
}

.page {
    text-align: center;
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial", "Helvetica", "sans-serif";
}

.genshin-logo {
    height: 50px;
}

.page-title {
    text-transform: uppercase;
}

.daily-row {
    color: #5EB3BC;   
}
