.dark {
    background-color: #0D1117;
}

.page {
    width: 100%;
}

.genshin-logo {
    height: 50px;
}

.top-logo {
    margin: 0 auto;
}

.page-title {
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial", "Helvetica", "sans-serif";
    text-transform: uppercase;
}
